<h1 class="font-bold text-xl my-4 text-center">SureCam Coding Test App</h1>

<p class="text-center mb-4 text-red-500">
  NOTE: Please be sure to run the seeds file to load blog posts.
</p>

<div class="text-center w-64 mx-auto">
  <% if user_signed_in? %>
    <p>
      <% if params[:view_all].present? %>
        <%= link_to " View Only My Posts", root_path, class: "px-4 py-2 bg-blue-200 hover:bg-blue-400 rounded-lg" %>
      <% else %>
        <%= link_to "View All Public Posts", root_path(view_all: true), class: "px-4 py-2 bg-blue-200 hover:bg-blue-400 rounded-lg" %>
      <% end %>
    </p>
    <p class="mt-4">
      <%= link_to "New Blog Post", new_post_path, class: "px-4 py-2 bg-blue-200 hover:bg-blue-400 rounded-lg" %>
    </p>
  <% else %>
    <%= link_to "Sign Up", new_user_registration_url, class: "px-4 py-2 bg-blue-200 hover:bg-blue-400 rounded-lg" %>
    or <%= link_to "Log In", new_user_session_url, class: "px-4 py-2 bg-blue-200 hover:bg-blue-400 rounded-lg" %>
  <% end %>
</div>

<% if @posts.any? %>
  <div class="mt-8 text-center">
    <% @posts.each do |post| %>
      <p>
        <span class="text-xs text-gray-400"><%= mmdd(post.created_at) %> <%= fa_icon eye_icon(post.active) %></span> <%= link_to post.title, post_path(post), class: "text-blue-500" %>
      </p>
    <% end %>
  </div>
<% end %>

<h2 class="font-bold text-xl my-4 text-center">API Interaction</h2>

<p class="text-center">
  <%= link_to "View All TODOs", all_todos_path, class: "px-4 py-2 bg-blue-200 hover:bg-blue-400 rounded-lg" %>
</p>

<p class="mt-4 text-center">
  <%= link_to "New TODO", new_todo_path, class: "px-4 py-2 bg-blue-200 hover:bg-blue-400 rounded-lg" %>
</p>

<div class="text-center w-64 mx-auto">
  <h2 class="font-bold text-xl my-8 text-center">Algorithms</h2>

  <%= form_with url: show_permutations_path, method: :post, data: { turbo: false } do |f| %>
    <div class="form-group my-4">
      <%= f.label :file, "Upload a text file:" %>
      <%= f.file_field :file %>
    </div>
    <div class="form-group">
      <%= f.submit "Process File", class: "px-4 py-2 bg-blue-200 hover:bg-blue-400 rounded-lg" %>
    </div>
  <% end %>
</div>
