<h1 class="font-bold text-xl my-4 text-center">SureCam Coding Test App</h1>

<div class="text-center w-64 mx-auto">
  <% if user_signed_in? %>
    <p>
      <% if params[:view_all].present? %>
        <%= link_to " View Only My Posts", root_path %>
      <% else %>
        <%= link_to "View All Posts", root_path(view_all: true) %>
      <% end %>
    </p>
    <p class="mt-4">
      <%= link_to "New Blog Post", new_post_path, class: "px-4 py-2 bg-blue-200 hover:bg-blue-400 rounded-lg" %>
    </p>
  <% else %>
    <%= link_to "Sign Up", new_user_registration_url, class: "px-4 py-2 bg-blue-200 hover:bg-blue-400 rounded-lg" %>
    or <%= link_to "Log In", new_user_session_url, class: "px-4 py-2 bg-blue-200 hover:bg-blue-400 rounded-lg" %>
  <% end %>
</div>

<% if @posts.any? %>
  <div class="mt-8 text-center">
      <% @posts.each do |post| %>
        <p>
          <span class="text-xs text-gray-400"><%= mmdd(post.created_at) %> <%= fa_icon eye_icon(post.active) %></span> <%= link_to post.title, post_path(post), class: "text-blue-500" %>
        </p>
      <% end %>
  </div>
<% end %>
